body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    cursor: none;  /* Hide the mouse cursor */
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    font-family: Arial, sans-serif;
}

.colour-picker {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.colour-display {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.colour-picker input[type="color"] {
    display: block;
}
